In [5]:
import numpy as np
from scipy.stats import t, ttest_ind, ttest_ind_from_stats
import pandas as pd
import math
import seaborn as sns

In [6]:
df1=pd.read_excel('d1.xlsx')

In [7]:
df2=pd.read_excel('d2.xlsx')

In [8]:
del df2['State'] 
del df2['Latitude'] 
del df2['Longitude'] 
del df2['Area'] 
del df2['fid'] 
del df2['Altitude']

In [9]:
for i in range(0,10,1):
    t_stat, p_value = ttest_ind(df1, df2,axis=1)
    p_values = p_value

In [10]:
p_values

array([0.90009694, 0.99006866, 0.81074411, ..., 0.13970056, 0.00666542,
       0.20403371])

In [11]:
len(p_values)

1363

In [12]:
file_path = 'India_Interpolated_Rainy_Days_RW.xlsx'
df=pd.read_excel(file_path)
df['t_statistics']=t_stat
df['p_values']=p_values

In [13]:
df.to_excel(file_path, index=False)

In [118]:
df

,State,Area,Latitude,Longitude,fid,Altitude,1988,1989,1990,1991,...,2015,2016,2017,2018,2019,2020,2021,2022,t_statistics,p_values
0,Karnataka,3.072701e+05,13.094437,78.284459,677,785.244,84,78,85,98,...,120,72,114,91,103,108,128,122,-0.127322,0.900097
1,Karnataka,1.394675e+05,13.083870,78.292082,678,791.252,84,78,85,99,...,119,72,113,90,103,108,128,121,0.012621,0.990069
2,Karnataka,5.497562e+05,13.121554,78.343837,675,816.344,93,78,89,98,...,118,76,114,89,102,109,126,119,0.243012,0.810744
3,Karnataka,5.240948e+05,13.747866,77.552639,676,664.240,98,75,83,76,...,111,67,89,67,86,109,113,106,-1.919063,0.070974
4,Karnataka,1.701728e+06,13.551716,77.514227,665,717.342,86,70,84,51,...,123,87,112,88,110,122,137,130,-3.864080,0.001137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,Karnataka,7.881447e+04,14.180133,77.440353,620,573.258,73,57,63,80,...,98,59,76,53,77,90,98,92,0.960249,0.349652
1359,Karnataka,3.716641e+05,13.210334,77.690065,673,915.748,79,77,83,105,...,130,104,134,104,123,125,146,135,-2.831643,0.011060
1360,Karnataka,1.102231e+05,13.174928,78.564213,674,747.098,95,81,96,103,...,111,73,110,82,103,109,120,118,1.545189,0.139701
1361,Karnataka,2.100939e+06,13.690012,76.649036,671,667.719,71,62,57,56,...,109,71,101,88,106,103,128,119,-3.065348,0.006665
1362,Karnataka,1.707920e+05,13.214725,78.097977,672,827.234,86,77,90,91,...,122,87,125,99,102,113,121,126,-1.317994,0.204034

In [15]:
df2

      2013  2014  2015  2016  2017  2018  2019  2020  2021  2022
0      102    91   120    72   114    91   103   108   128   122
1      102    91   119    72   113    90   103   108   128   121
2       99    89   118    76   114    89   102   109   126   119
3      103    81   111    67    89    67    86   109   113   106
4      117   102   123    87   112    88   110   122   137   130
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1358   102    66    98    59    76    53    77    90    98    92
1359   110   101   130   104   134   104   123   125   146   135
1360   100    88   111    73   110    82   103   109   120   118
1361    96    90   109    71   101    88   106   103   128   119
1362   100    90   122    87   125    99   102   113   121   126

[1363 rows x 10 columns]